html,
body {
  background-color: #c5f6fa;
  background-image: url("../img/noice.png");
  height: 100%;
}

.category{
  width: calc(33% - 10px);
  height: auto;
  margin: 5px;
  float: left;
  background-color: orange;
}
.category p{
  width: 100%;
  height:25px;
  text-align: center;
  line-height: 25px;
}
.categoryHeaderLink{
  margin: 10px;
}
